*.swp
*~
*.swp
*.tsv
*.egg-info
.project
.idea
.DS_Store
.pydevproject
*.pyc
*.pyo

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
# lib/ - WTF
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.ropeproject/
test_output
.coverage
production.*.ini
development.*.ini
runboth
