html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.content {
  padding-top: 20px;
}

#container {
    width: 100%;
}

#navigation-menu {
    border-right: 2px solid #eee;
    height: 100%;
    min-height: 100%;
    display: block;
}

#snm-logo {
    margin-top: 20px;
    width: 250px;
}

#main-navigation {
    margin: 20px 0;
    border: 1px solid #eee;
    border-radius: 5px;
}

#search-form {
    padding: 0;
}

#search {
    width: 175px;
}

#network {
    margin-top: 20px;
    width: 100%;
}

.app-image {
  width: 100px;
}

#applications h3 {
  margin: 0;
}

#applications p {
  margin-top: 10px;
}

#applications span {
  vertical-align: top;
}

#current-filters h3 {
  margin: 0 0 20px 0;
}

#app-description {
  margin-bottom: 20px;
}

#app-graphs h4 {
  margin: 0;
}

.right {
  text-align: right;
}

.app-graph {
  padding: 0 30px 0 5px;
}

.app-graph div {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

#app-search {
  margin-top: 20px;
}

#app-search div {
  float: right;
}
