.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
  fill: #1f77b4;
}

.node:hover {
    stroke: #000; // #FF7F0E;
    stroke-width: 3px;
}

.node.loaded {
  fill: #FF7F0E;
  cursor: default;
}

.default-color {
  fill: #1F77B4;
}
.focusnode-color {
  fill: #777;
  stroke-width: 3;
  stroke: #D50;
}
.co-use-color {
  fill: #D50;
  stroke: #D52;
}

.node.loaded:hover {
    stroke: #fff;
    stroke-width: 1px;
}

.node a {
    text-decoration: dotted;
}

.link {
  fill: none;
}

.static-link {
  stroke: #bbb;
}

.logical-link {
  stroke: #55f;
  stroke-dasharray: 3,3;
}

#TriangleBack {
  fill: #bbb;
  stroke: #bbb;
}
#Triangle {
  fill: #bbb;
  stroke: #bbb;
}

#barchart {
  width: 100%;
  height: 800px;
}
#chart {
  width: 100%;
  height: 600px;
}

.bartitle {
   font-size: 15px;
   font-weight: bold;
}
.barsubtitle {
   font-size: 12px;
   font-weight: bold;
}

.baraxis path,
.baraxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.baraxis text {
    font-family: sans-serif;
    font-size: 11px;
}



