.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer;
  fill: #1f77b4;
}

.node:hover {
    stroke: #FF7F0E;
    stroke-width: 3px;
}

.node.loaded {
  fill: #FF7F0E;
  cursor: default;
}

.node.loaded:hover {
    stroke: #fff;
    stroke-width: 1px;
}

.node a {
    text-decoration: dotted;
}

.link {
  fill: none;
}

.static-link {
  stroke: #bbb;
}

.logical-link {
  stroke: #55f;
  stroke-dasharray: 3,3;
}

#Triangle {
  fill: #bbb;
  stroke: #bbb;
}

#chart {
  width: 100%;
  height: 400px;
}


