html, body {
  height: 100%;
}

h2 {
  margin-top: 0;  
}

.fill { 
  min-height: 100%;
  height: 100%;
}

.content {
  padding-top: 20px;
}

#container {
  width: 100%;
  margin: 0;
  padding: 0;
}

#navigation-menu {
  border-right: 2px solid #eee;
  height: 100%;
  min-height: 100%;
  display: block;
  width: 300px;
  float: left;
  padding: 0;
  position: fixed;
}

#content {
  margin-left: 300px;
}

#snm-logo {
  margin-top: 20px;
  margin-left: 20px;
  width: 250px;
}

#main-navigation {
  margin: 20px 0;
}


#search-form {
  padding: 0;
}

#search {
  width: 275px;
  padding-left: 15px;
}

#network {
  margin-top: 20px;
  width: 100%;
}

.app-image {
  width: 100px;
}

#applications h3 {
  margin: 0;
}

#applications p {
  margin-top: 10px;
}

#applications span {
  vertical-align: top;
}

#current-filters h3 {
  margin: 0 0 20px 0;
}

#app-description {
  margin-bottom: 20px;
}

#app-graphs h4 {
  margin: 0;
}

.right {
  text-align: right;
}

.app-graph {
  padding: 0 30px 0 5px;
}

.app-graph div {
  padding: 0;
  margin: 0;
}

.app-graph img {
  margin-top: 10px;
}

img {
  width: 100%;
}

#app-search {
  margin-top: 20px;
}

#app-search div {
  float: right;
}

.app-tile a{
    color: white;
}

.app-tile .app-tile-add {
    color:black;
}



#filters {
  margin-top: 10px;
  margin-left: 10px;
}

#filters .btn-group {
  margin-right: 15px;
  margin-top: 10px;
}

.viz-list-panel .panel-body {
  padding: 25px;
}

td.app-name {
  color: #fff;
  background-color: #000;
}

/*.btn {
  width: 100px;
} */
