html, body {
  height: 100%;
}

h2 {
  margin-top: 0;  
}

.fill { 
  min-height: 100%;
  height: 100%;
}

.content {
  padding-top: 20px;
}

.snm-tooltip {
  display: inline;
  position: relative;
  text-decoration: none;
  border-bottom:1px dashed;
}

.snm-tooltip:hover:after {
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 350px;
}

.snm-tooltip:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

#container {
  width: 100%;
  margin: 0;
  padding: 0;
}

#navigation-menu {
  border-right: 2px solid #eee;
  height: 100%;
  min-height: 100%;
  display: block;
  width: 300px;
  float: left;
  padding: 0;
  position: fixed;
}

#content {
  margin-left: 300px;
}

#snm-logo {
  margin-top: 20px;
  margin-left: 20px;
  width: 250px;
}

#main-navigation {
  margin: 20px 0;
}


#search-form {
  padding: 0;
}

#search {
  width: 275px;
  padding-left: 15px;
}

#network {
  margin-top: 20px;
  width: 100%;
}

.app-image {
  width: 100px;
}

#applications h3 {
  margin: 0;
}

#applications p {
  margin-top: 10px;
}

#applications span {
  vertical-align: top;
}

#current-filters h3 {
  margin: 0 0 20px 0;
}

#app-description {
  margin-bottom: 20px;
}

#app-graphs h4 {
  margin: 0;
}

.right {
  text-align: right;
}

.app-graph {
  padding: 0 30px 0 5px;
}

.app-graph div {
  padding: 0;
  margin: 0;
}

.app-graph img {
  margin-top: 10px;
}

img {
  width: 100%;
}

#app-search {
  margin-top: 20px;
}

#app-search div {
  float: right;
}

.app-tile a{
    color: white;
}

.app-tile .app-tile-add {
    color:black;
}



#filters {
  margin-top: 10px;
  margin-left: 10px;
}

#filters .btn-group {
  margin-right: 15px;
  margin-top: 10px;
}

.viz-list-panel .panel-body {
  padding: 25px;
}

td.app-name {
  color: #fff;
  background-color: #000;
}

.app-extra-info {
    margin-top: 5px;
}

.app-extra-info a:hover {
    text-decoration: none;
}
