{% extends "base.jinja2" %}
{% block title %}Data sources{% endblock %}
{% block content_title  %}<h1>About</h1>{% endblock %}

{% block head %}
  {{ super() }}
  {#You can include your specific css here#}
{% endblock %}

{% block js %}
  {#  You can add page-specific js here #}
{% endblock %}


{% block content %}

  <div class="col-md-6">
    <p>
      The information about applications' usage is gathered with an agent included in software distributions.
    </p>

    <p>
      Total number of applications that use the agent is: 7000.
    </p>
  </div>

{% endblock %}
