{% extends "base.jinja2" %}
{% block title %}About{% endblock %}
{% block content_title  %}<h1>About</h1>{% endblock %}

{% block head %}
  {{ super() }}
  {#You can include your specific css here#}
{% endblock %}

{% block js %}
  {#  You can add page-specific js here #}
{% endblock %}


{% block content %}

  <div class="col-md-12">
    <p>
      This Scientific Software Network Map viewer is part of an NSF-funded project (SciSIP: The Scientific Software Network Map) to map out the dependencies among scientific software packages. The goal is to help scientists monitor how the software they write is being used, so that they can focus updates and improvements on the most needed areas, understand more deeply how they are being used together, and to take credit for their contributions by being able to document how much their software is being used.
    </p>
    <h3>Related research papers</h3>
    Some academic research related to this project can be found here:
    <ul>
      <li>
        Howison, J. and Herbsleb, J. D. (2011). <i>Scientific software
        production: incentives and collaboration.</i> In Proceedings,
        Computer-Supported Collaborative Work Hangzhou, China, pp. 513-522.
      </li>
      <li>
        Howison, J. and Herbsleb, J. D. (2013). <i>Incentives and integration in
        scientific software production</i>, ACM Conference on Computer-Supported
        Cooperative Work (pp. 459-470). San Antonio, TX.
      </li>
    </ul>
    <h3>Contacts</h3>
    <p>
      For further information contact
      <ul>
        <li>Jim Herbsleb <span class="glyphicon glyphicon-envelope"></span> <span class="monospace" >jdh
          at cs dot cmu dot edu </span> </li>
        <li>James Howison <span class="glyphicon glyphicon-envelope"></span>
          <span class="monospace" >jhowison at ischool dot utexas dot edu </span></li>
        <li>Chris Bogart  <span class="glyphicon glyphicon-envelope"></span>
          <span class="monospace" > cbogart at cs dot cmu dot edu</span></li>
      </ul>
    </p>
    <h3>Credits</h3>
    <p>
      Scientific Software Network Map was funded by NSF award <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1064209">#1064209</a> and the
      Sloan Foundation.
    </p>
    <h3>Development team</h3>
    <p>
      The project has been developed as <a href="http://mse.isri.cmu.edu/software-engineering/web3-programs/MSIT-SE/Practicum.html">MSIT-SE
      Practicum</a> project at CMU.
    </p>
    <h3>Technologies</h3>
    <p>
      <ul>
        <li>Python web framework <a href="http://www.pylonsproject.org/">Pyramid</a></li>
        <li><a href="http://jquery.com/">jQuery</a></li>
        <li><a href="http://getbootstrap.com/2.3.2/">Bootstrap</a></li>
        <li>Data-Driven Documents: <a href="http://d3js.org/">D3.js</a>,
          Copyright 2013 <a href="http://bost.ocks.org/mike/">Mike Bostock</a></li>
        <li><a href="http://nvd3.org/">NVD3</a> Re-usable charts for d3.js</li>
      </ul>
    </p>
  </div>

{% endblock %}
