{% extends "app_base.jinja2" %}

{% block head %}
  {{ super() }}
  <link href="{{request.static_url('snmweb:static/css/lib/nv.d3.css')}}" rel="stylesheet">
  <style>
    #chart svg {
      height: 400px;
    }
  </style>
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="{{request.static_url('snmweb:static/js/lib/d3.js')}}"></script>
  <script src="{{request.static_url('snmweb:static/js/lib/nv.d3.js')}}"></script>
  <script src="{{request.static_url('snmweb:static/js/line-chart.js')}}"></script>
  <script>
    $(function main() {
      var chart = $.vizLineChart("#chart svg",
        {
          table   : $("#graph-data"),
          stat_id : "version_users_over_time",
          style   : "area",
          caption_field : "version",
          period  : "week"
        });
        
      var btns = $("#filters-group button");
      var usage_type_btns = $("#usage-type-group button");
      var selected_filter_btn = $("#filters-group .active");
      var selected_usage_btn = $("#usage-type-group .active");
      
      function setOptions() {
        chart.setOption("style", selected_usage_btn.data("style"));
        chart.setOption("stat_id", selected_usage_btn.data("statid"));
        chart.setOption("period", selected_filter_btn.data("period"));
        chart.setOption("caption_field", selected_usage_btn.data("captionfield"));
      }
      setOptions()
 
      usage_type_btns.click(function() {
        usage_type_btns.removeClass("active");
        $(this).addClass("active");
        selected_usage_btn = $(this);
        setOptions();
        chart.drawDiagram({
          group_by: selected_filter_btn.data("period"),
          id: app_id,
        });
      });
      
      btns.click(function() {
        btns.removeClass("active");
        $(this).addClass("active");
        selected_filter_btn = $(this);
        setOptions();
        chart.drawDiagram({
          group_by: selected_filter_btn.data("period"),
          id: app_id /*This app_id should be loaded in app_base as part of client-side app information */
        });
      });
      
      chart.drawDiagram({group_by: "week", id: app_id});
    });


    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
      $(window).trigger('resize');
    })
  </script>

  </script>
{% endblock %}

{% block details %}
  <h2>Users over time</h2>
  <div class="panel-body">
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active"><a href="#chart-wrapper" role="tab" data-toggle="tab">Chart</a></li>
    <li><a href="#graph-data-wrapper" role="tab" data-toggle="tab">Data</a></li>
  </ul>

  <div class="tab-content">
    <div id="chart-wrapper" class="tab-pane active">
      {% if sci_platform == "R" %}
      <h3>Distinct users of <b>{{app.title}}</b> with instrumented R installations</h3>
      {% else %}
      <h3>TACC user counts for {{app.title}}</h3>
      {% endif %}
            <div id="chart">
        <svg></svg>
      </div>
      <div class="row" id="filters">
        <div id="filters-group" class="btn-group">
          <button type="button" class="btn disabled">Period:</button>
          <button data-period="day" type="button" class="btn btn-default">Day</button>
          <button data-period="week" type="button" class="btn active btn-default">Week</button>
          <button data-period="month" type="button" class="btn btn-default">Month</button>
        </div>
        &nbsp;
        <div id="usage-type-group" class="btn-group">
          <button type="button" class="btn disabled">Package Versions:</button>
          <button data-statid="users_over_time" data-captionfield="title" 
                data-style="area" type="button" class="btn btn-default">Combined</button>
          <button data-statid="version_users_over_time" data-captionfield="version" 
                data-style="area" type="button" class="btn active btn-default">Separate</button>
        </div>
        <!--
        <div class="btn-group">
          <button type="button" class="btn disabled">Time range:</button>
          <button type="button" class="btn disabled btn-default">From: October 2013</button>
          <button type="button" class="btn disabled btn-default">To: April 2014</button>
        </div>
        -->
      </div>
    </div>

    <div id="graph-data-wrapper" class="tab-pane">
      <table class="table" id="graph-data">
        <thead>
          <tr>
            <th>Date</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
