{% extends "app_base.jinja2" %}

{% block head %}
  {{ super() }}
  <script>
  function navTo(start) {
     $('#start-at').val(start); 
     $('#hiddenform').submit();
  }
  </script>
{% endblock %}



{% block details %}

  <form id="hiddenform"><input name="start-at" type="hidden" id="start-at"/></form>
  
  {% if app.git_usage == 0 %}
     <h2>No github projects</h2>
     No project in our sample so far uses {{app.title|replace("[dot]",".")}}.
  {% else %}
      <h2>Github projects that depend on {{app.title|replace("[dot]",".")}}</h2>
        <nav>
              <ul  class="pagination" style="margin:0px;">
                {% if start_at > 1 %}
                <li><a  onClick="navTo(1);">|&lt;</a></li>
                <li ><a  onClick="navTo({{start_at}}-{{per_page}});">&lt;&lt;</a></li>
                {% else %}
                <li class="disabled"><a onClick="navTo(1);">|&lt;</a></li>
                <li class="disabled"><a>&lt;&lt;</a></li>
                {% endif %}
                <li class="active"><a>{{start_at}}&mdash;{{end_at}} of {{app_count}}</a>
                {% if end_at < app_count %}
                <li ><a   onClick="navTo({{end_at+1}});">&gt&gt;</a></li>
                <li><a onClick="navTo({{app_count}});">&gt;|</a></li>
                {% else %} 
                <li class="disabled"><a >&gt&gt;</a></li>
                <li class="disabled"><a onClick="navTo({{app_count}});">&gt;|</a></li>
                {% endif %}
              </ul>
         </nav>      
      <div class="list-group">
      {% for git in git_referers %}
         <!--li style="margin:0 0 8px 0;"-->
         <div class="list-group-item">
             <h4 class="list-group-item=heading"><small>{{git.owner}}/</small><a href="{{git.url|replace("api.","")|replace("/repos/","/")}}">{{git.name}}</a>
                 
                 <span class="pull-right" title="Starred by {{git.stargazers_count}} github users">
                    <img style="width:20px; height=20px;" 
                      src="{{request.static_url('snmweb:static/img/Farm-Fresh_bullet_star.png')}}">
                    {{git.stargazers_count}}
                 </span>
                 {% if git.is_fork==1 %}
                    (fork)
                 {% endif %}
                 <span class="pull-right" 
                    {% if git.is_package==1 %}
                    style="color:green;">R Package
                    {% else %}
                    style="color:blue;">Non-package project
                    {% endif %}
                 
                    
                 </span>
                 
             </h4>
             
             <p class="list-group-item-text">
             {%if git.description %} {{git.description}} <div >&nbsp;</div>{% endif %}
             
             <small>
             <b>Dependencies:</b> <i>
             {% for dep in git.dependencies %} 
                <a href="{{request.route_url('application', name=dep)}}">{{dep}}</a>{% if not loop.last %},{% endif %}
             {% endfor %}</i>
             </small>
         </div>
      {% endfor %}
      
  {% endif %}
{% endblock %}
