{% extends "base.jinja2" %}

{% block title %}{{ name }}{% endblock %}

{% block content_title  %}
  <div class="row">
    <div class="col-md-7">
      <h1><a href="{{request.route_url('browse')}}">Applications</a> > {{ self.title() }} <small>version 2.5 <!-- should be taken from db --></small></h1>
    </div>
    <div class="col-md-5" id="app-search">
      <div>
        <button type="button" class="btn disabled btn-success pull-right"> 
          Added to comparison
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}

{% block head %}
  {{ super() }}
  {#You can include your specific css here#}
{% endblock %}

{% block js %}
  {#  You can add page-specific js here #}
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <img src="{{request.static_url('snmweb:static/img/' + name.lower() +'.png')}}" />
          </div>
          <div class="panel-body">
            <a href="{{request.route_url('application', name=name)}}" class="btn btn-default btn-block">App profile</a>
            <a href="{{request.route_url('app_used_with', name=name)}}"
               class="btn btn-default btn-block">
              Used with
            </a>
            <a href="{{request.route_url('app_usage', name=name)}}"
               class="btn btn-default btn-block">
              Usage over time
            </a>
            <button type="button" class="btn disabled btn-default btn-block">Users over time</button>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row" id="app-description">
          {% block details %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
