{% extends "base.jinja2" %}

{% block title %}{{ app.title }}{% endblock %}

{% block content_title  %}
  <div class="row">
    <div class="col-md-10">
      <h1><a href="{{request.route_url('browse', _query={'order': '-usage'})}}">Applications</a> > {{ self.title() }} <small>version {{app.version if app.version != None}} <!-- should be taken from db --></small></h1>
    </div>
    <div class="col-md-2" id="app-search">
      <div>
        <button data-id="{{ app.id }}" class="change btn btn-default change pull-right">Compare</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block head %}
  {{ super() }}
  {#You can include your specific css here#}
{% endblock %}

{% block js %}
  <script>
    /* TODO: Replace with current app object to represent the information */
    var app_id = "{{ app.id }}";
  </script>
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <img src="{{request.static_url('snmweb:static/img/' + app.image)}}" style="max-width: 200px"/>
          </div>
          <div class="panel-body">
            <a href="{{request.route_url('application', name=app.title)}}" class="btn btn-default btn-block">App profile</a>
            <a href="{{request.route_url('app_used_with', name=app.title)}}"
               class="btn btn-default btn-block">
              Used with
            </a>
            <a href="{{request.route_url('app_usage', name=app.title)}}"
               class="btn btn-default btn-block">
              Usage over time
            </a>
            <a href="{{request.route_url('app_users', name=app.title)}}"
               class="btn btn-default btn-block">
              Users over time
            </a>
            <a href="{{request.route_url('app_pubs', name=app.title)}}"
               class="btn btn-default btn-block">
              Publications
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row" id="app-description">
          {% block details %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
