{% extends "app_base.jinja2" %}

{% block head %}
  {{ super() }}
  <link href="{{request.static_url('snmweb:static/css/force-chart.css')}}"
        rel="stylesheet">
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="{{request.static_url('snmweb:static/js/lib/d3.js')}}"></script>
  <script src="{{request.static_url('snmweb:static/js/force-chart.js')}}"></script>
  <script>
      var force_chart = vizForceChart($("#chart"));
      force_chart.start(app_id);
  </script>
{% endblock %}

{% block details %}
  <h2>Application dependencies</h2>
<div class="panel-body">
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active"><a href="#chart-wrapper" role="tab" data-toggle="tab">Chart</a></li>
    <li><a href="#graph-desc-wrapper" role="tab" data-toggle="tab">
      Chart description
    </a></li>
  </ul>

  <div class="tab-content">
    <div id="chart-wrapper" class="tab-pane active">
      <div id="chart">
        <svg></svg>
      </div>
    </div>
    <div id="graph-desc-wrapper" class="tab-pane">
      <h4>Description</h4>
      Each node represents an R package. A link between nodes shows that these
      packages happened to be loaded at the same time by some script by some user.
      Solid lines indicate static dependencies (i.e. those enforced
      by R's package loading mechanism).  Dotted lines are packages users chose
      to use together.
    </div>
  </div>
</div>
{% endblock %}
