{% extends "app_base.jinja2" %}

{% block head %}
  {{ super() }}
  {# You can include your specific css here #}
{% endblock %}

{% block js %}
  {{ super() }}
  {# You can add page-specific js here #}
{% endblock %}

{% block details %}
  <h2>App profile</h2>
  <p><a href="{{ app.website }}">website</a></p>
  <p>Usage: {{app.usage}}; Trend: {{app.trend}}</p>
  <p>{{ app.description }}</p>
{% endblock %}
