{% extends "app_base.jinja2" %}

{% block head %}
  {{ super() }}
  {# You can include your specific css here #}
{% endblock %}

{% block js %}
  {{ super() }}
  {# You can add page-specific js here #}
{% endblock %}


{% block details %}
<h2>App profile</h2>
<p>Euler (now Euler Mathematical Toolbox or EuMathT) is a free and open-source numerical software package. It contains a matrix language, a graphical notebook style interface, and a plot window. Euler is designed for higher level math such as calculus, optimization, and statistics.</p>
<p>The software can handle real, complex and interval numbers, vectors and matrices, it can produce 2D/3D plots, and uses Maxima for symbolic operations. The software is compilable with Windows. The Unix and Linux versions do not contain a computer algebra subsystem.</p>
{% endblock %}
