{% extends "base.jinja2" %}
{% block title %}Browse applications{% endblock %}
{% block content_title  %}<h1>Browse applications</h1>{% endblock %}

{% block head %}
  {{ super() }}
  <link href="{{request.static_url('snmweb:static/css/browse.css')}}" rel="stylesheet">
{% endblock %}

{% block js %}
  {{ super() }}
  <script>
    $(".btn").each(function() {
        $(this).removeClass("active");
    });

    var order = SNM.getParameterByName("order");
    $("#order-input").val(order);
    if (order.charAt(0) == "-") {
        order = order.substring(1, order.length);
    }
    $("#order-" + order).addClass("active");

    var query = SNM.getParameterByName("query");
    $("#query-input").val(query);
  </script>
{% endblock %}

{% block content %}
  <div id="applications" class="col-md-12">
    <div id="sort-by-panel" style="float:left">
      <div class="btn-group">
        <button type="button" class="btn disabled">Order by:</button>
        <a id="order-usage" class="btn btn-default active" href="{{request.route_url('browse', _query={'order': '-usage'})}}">Usage</a>
        <a id="order-usage_trend" class="btn btn-default" href="{{request.route_url('browse', _query={'order': '-usage_trend'})}}">Usage trend</a>
        <a id="order-users" class="btn btn-default active" href="{{request.route_url('browse', _query={'order': '-users'})}}">Users</a>
        <a id="order-title" class="btn btn-default" href="{{request.route_url('browse', _query={'order': 'title'})}}">Alphabetically</a>
        <a id="order-git_users" class="btn btn-default" href="{{request.route_url('browse', _query={'order': '-git_usage'})}}">Github Projects</a>
        <a id="order-title" class="btn btn-default" href="{{request.route_url('browse', _query={'order': 'title'})}}">Alphabetically</a>
      </div>
    </div>
    <form class="form-group">
      <div id="search" class="input-group" style="float: right">
        <input id="query-input" name="query" type="text" class="form-control">
        <span class="input-group-btn">
          <input class="btn btn-default" type="submit" style="margin-left: -5px">Search</button>
        </span>
        <input name="order" type="hidden" id="order-input" />
      </div>
    </form>

    <div style="clear: both"></div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 >Applications</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          {% for app in apps %}
            <tr>
              <td>
                {% if app.image == "unknown.jpg" %}
                {% else %}
                <img src="{{request.static_url('snmweb:static/img/' + app.image)}}"
                     class="app-image" />
                {% endif %}
              </td>
              <td>
                <div class="row">
                  <div class="col-md-9">
                    <h3>
                      <a href="{{request.route_url('application', name=app.title)}}">
                        {{app.title|replace("[dot]",".")}}
                      </a>
                    </h3>
                    <div class="app-extra-info">
                      <a href="{{request.route_url('app_usage', name=app.title)}}"
                         class="snm-tooltip"
                         title="Number of runs from 2012-04-09 to 2013-01-27">
                        {{app.usage}}</a> runs overall, including
                      <a href="{{request.route_url('app_usage', name=app.title)}}"
                         class="snm-tooltip"
                         title="Number of runs for the last 60 days">
                        {{app.usage_trend}}</a> for the last 60 days.
                      &nbsp;&nbsp;Unique users:
                      <a href="{{request.route_url('app_users', name=app.title)}}"
                         class="snm-tooltip"
                         title="Number of users from 2012-04-09 to 2013-01-27">
                        {{app.users}}</a>
                      &nbsp;&nbsp;Github Projects:
                      <span
                         class="snm-tooltip"
                         title="Number of github projects using this package, out of a random sample of {{global_stats.num_git_projects_scraped}} R projects">
                        {{app.git_usage}}</span>
                        {% if app.publications > 0 %}
                      &nbsp;&nbsp;Publications:
                      <a href="{{request.route_url('app_pubs', name=app.title)}}"
                         class="snm-tooltip"
                         title="Number of publications resulting from jobs using this application">
                        {{app.publications}}
                        </a>
                        {% endif %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button data-id="{{ app.id }}" class="change btn btn-default change pull-right">Compare</button>
                  </div>
                </div>
                <p>
                  {{ app.short_description }}.
                {% if app.repository %}
                    Distributed through {{ app.repository }}.
                {% endif %}
                </p>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

{% endblock %}
