{% extends "compare_base.jinja2" %}

{% block head %}
  {{ super() }}
  <link href="{{request.static_url('snmweb:static/css/lib/nv.d3.css')}}" rel="stylesheet">
  <style>
    #chart svg {
      height: 400px;
    }
  </style>
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="{{request.static_url('snmweb:static/js/lib/d3.js')}}"></script>
  <script src="{{request.static_url('snmweb:static/js/lib/nv.d3.js')}}"></script>
  <script src="{{request.static_url('snmweb:static/js/line-chart.js')}}"></script>
  <script>
    $(function main() {
      drawChart("usage_over_time"); 
    });

    function drawChart(type) {
      console.log("Drawing");
      var chart = $.vizLineChart("#chart svg",
        {
          table   : $("#graph-data"),
          stat_id : type
        });
      var btns = $("#filters-group button");
      btns.click(function() {
        btns.removeClass("active");
        $(this).addClass("active");
        chart.drawDiagram({
          group_by: $(this).data("period"),
          id: compare.get()
        });
      });
      $("#filters-group button")[0].click();
    }

    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>
{% endblock %}

{% block graph %}
  <h2 id="chart-title">Usage over time</h2>
  <div class="panel-body">
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="active"><a href="#chart-wrapper" role="tab" data-toggle="tab">Chart</a></li>
    <li><a href="#graph-data-wrapper" role="tab" data-toggle="tab">Data</a></li>
    <li><a href="#graph-desc-wrapper" role="tab" data-toggle="tab">
      Chart description
    </a></li>
  </ul>

  <div class="tab-content">
    <div id="chart-wrapper" class="tab-pane active">
      <div id="chart">
        <svg></svg>
      </div>
      <div class="row" id="filters">
        <div id="filters-group" class="btn-group">
          <button type="button" class="btn disabled">Period:</button>
          <button data-period="day" type="button" class="btn btn-default">Day</button>
          <button data-period="week" type="button" class="btn btn-default">Week</button>
          <button data-period="month" type="button" class="btn btn-default">Month</button>
        </div>
      </div>
    </div>

    <div id="graph-data-wrapper" class="tab-pane">
      <table class="table" id="graph-data">
        <thead>
          <tr>
            <th>Date</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="graph-desc-wrapper" class="tab-pane">
      <h4>Description</h4>
      Each data-point on the chart shows number of runs of the application
      for a given day (week, month). For instance, if chart shows usage = 212
      on 2012-07-15 it means that during this day this application was run
      212 times.
    </div>
  </div>
{% endblock %}
