{% extends "base.jinja2" %}
{% block title %}Data Source{% endblock %}
{% block content_title  %}<h1>Source of data</h1>{% endblock %}

{% block head %}
  {{ super() }}
  {#You can include your specific css here#}
{% endblock %}

{% block js %}
  {#  You can add page-specific js here #}
{% endblock %}


{% block content %}

  <div class="col-md-12">
    {% if sci_platform == "R" %}
    <p>The data currently shown comes from <a href="http://scisoft-net-map.isri.cmu.edu/static/html/installR.html">volunteers</a> who are tracking the packages they
    use in their R analyses on their own computers. <a href="http://scisoft-net-map.isri.cmu.edu:7777">(If you are looking for the TACC supercomputer data,
    it can be found here.)</a>
    It is displayed using the following assumptions:
    </p>
    <ul>
    <li>We assume packages with the same name are the same package.  We have distinct version information, but
        are currently not displaying it for simplicity.
    <li>We ignore a common baseline of R packages that are installed by default
    <li>Two packages are considered to be "used together" if they were both used in the same run
    </ul>

    <h3>Participate</h3>
    To contribute your own usage data to the map, visit 
    <a href="http://scisoft-net-map.isri.cmu.edu/static/html/installR.html">http://scisoft-net-map.isri.cmu.edu/static/html/installR.html</a> for information on how to install the R package.

    <h3>Other data sources</h3>
    <p>If you have a scientific software package or suite that you would like to track using this tool,
    let us know. We are interested in helping
    you to track your software's usage, even if it is widely deployed at individual
    researchers' sites.
    </p>

    {% elif sci_platform == "TACC" %}

    <p>The data currently shown comes from supercomputers at <a href="https://www.tacc.utexas.edu">
    TACC (the Texas Advanced Computing Center)</a>. The data was collected using a project called
    Lariat, between April 2012 through January 2013.
    It is displayed using the following assumptions:
    </p>
    <ul>
    <li>We assume executables with the same name are the same code.  We ignore the path to the executable.
        We have checksum and version information, but are currently ignoring it for simplicity.
    <li>We ignore any executable used by fewer than five distinct users.
    <li>We ignore executables named "a.out" or named after a short list of standard POSIX commands
    <li>We associate executable names with well-known scientific software packages by simple string matching:
        for example any executable containing "vasp" as a substring is assumed to be part of
        <a href="http://www.vasp.at">VASP</a>.  For
        some packages we have a list of strings we match against, taken from lists of executables mentioned
        on the packages' web sites. For example executables containing the strings
        "gipaw" or "tddfpt" are known to be part of Quantum Espresso.  Please let us know about ones we missed.
    <li>Two executables are considered to be "used together" if they are run in the same job on the same day.
    <li>The Lariat data also has information about which libraries (things like FFTW and PGI) are used by
        which executables.  We are currently omitting this information because almost all other applications
        use them.
    <li>Publications are associated with jobs by scraping data from the XSEDE portal
        (<a href="https://portal.xsede.org/publications#/show">https://portal.xsede.org/publications#/show</a>)
        where researchers associate publications with their projects, using the same code number the
        lariat files classify jobs by (allocation identifiers that take the form TG-XXXNNNNNNN).
    </ul>
    <p>
    Some of these choices are arbitrary, and if you are curious about how the graphs and statistics would
    look under different assumptions, let me know (Chris Bogart: cbogart at cs dot cmu dot edu) and I'd be
    glad to find useful ways of interpreting and displaying this data.
    </p>

    <h3>Other data sources</h3>
    <p>If you have a scientific software package or suite that you would like to track using this tool,
    let us know. Beyond tracking codes on a single supercomputer, we are interested in helping
    you to track your software's usage, even if it is widely deployed at individual
    researchers' sites.
    </p>

    {% endif %}
  </div>

{% endblock %}
