{% extends "base.jinja2" %}
{% block title %}Application details{% endblock %}
{% block content_title  %}Explore{% endblock %}

{% block head %}
  {{ super() }}
  {#You can include your specific css here#}
{% endblock %}

{% block js %}
  {#  You can add page-specific js here #}
{% endblock %}


{% block content %}

  <div id="applications" class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 >Applications</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <tr>
            <td><img src="{{request.static_url('snmweb:static/img/euler.png')}}" class="app-image" /></td>
            <td>
              <div class="row">
                <div class="col-md-9">
                  <h3><a href="{{request.route_url('application')}}">Euler</a></h3>
                </div>
                <div class="col-md-3">
                  <input type="checkbox">
                  <span>compare</span>
                </div>
              </div>
              <p>Numerical application designed for higher level math such as calculus, optimization, and statistics that uses Maxima for symbolic operations.</p>
            </td>
          </tr>
          <tr>
            <td><img src="{{request.static_url('snmweb:static/img/freemat.png')}}" class="app-image" /></td>
            <td>
              <div class="row">
                <div class="col-md-9">
                  <h3>Freemat</h3>
                </div>
                <div class="col-md-3">
                  <input type="checkbox">
                  <span>compare</span>
                </div>
              </div>
              <p>Matlab-like program that supports many of its functions and features a codeless interface to external C, C++, and Fortran code, further parallel distributed algorithm development (via MPI), and 3D visualization capabilities.</p>
            </td>
          </tr>
          <tr>
            <td><img src="{{request.static_url('snmweb:static/img/maxima.png')}}" class="app-image" /></td>
            <td>
              <div class="row">
                <div class="col-md-9">
                  <h3>Maxima</h3>
                </div>
                <div class="col-md-3">
                  <input type="checkbox">
                  <span>compare</span>
                </div>
              </div>
              <p>Maple/Mathematica-like program with a wxWidgets based frontend.</d>
            </td>
          </tr>
          <tr>
            <td><img src="{{request.static_url('snmweb:static/img/parigp.png')}}" class="app-image" /></td>
            <td>
              <div class="row">
                <div class="col-md-9">
                  <h3>PARI/GP</h3>
                </div>
                <div class="col-md-3">
                  <input type="checkbox">
                  <span>compare</span>
                </div>
              </div>
              <p>Computer algebra system designed for fast computations in number theory.</p>
            </td>
          </tr>
          <tr>
            <td><img src="{{request.static_url('snmweb:static/img/r.jpg')}}" class="app-image" /></td>
            <td>
              <div class="row">
                <div class="col-md-9">
                  <h3>R</h3>
                </div>
                <div class="col-md-3">
                  <input type="checkbox">
                  <span>compare</span>
                </div>
              </div>
              <p>Software environment for statistical computing and graphics.</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Filters</h3>
      </div>
      <div class="panel-body">
        <div id="current-filters">
          <h3>CMU + Algebra</h3>
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Tags
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-block">Algebra</button>
                <button type="button" class="btn btn-default btn-block">Statistical</button>
                <button type="button" class="btn btn-default btn-block">Structural</button>
                <button type="button" class="btn btn-default btn-block">Mixed-effects</button>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Organizations
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <button type="button" class="btn btn-primary btn-block">CMU</button>
                <button type="button" class="btn btn-default btn-block">TACC</button>
                <button type="button" class="btn btn-default btn-block">PITT</button>
                <button type="button" class="btn btn-default btn-block">MIT</button>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Developers
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <button type="button" class="btn btn-default btn-block">Biao Ma</button>
                <button type="button" class="btn btn-default btn-block">Nikita Chepanov</button>
                <button type="button" class="btn btn-default btn-block">Slava Kovtunenko</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
