{% extends "base.jinja2" %}
{% block title %}Scientific Network Map{% endblock %}

{% block head %}
  {{ super() }}
  {#You can include your specific css here#}
{% endblock %}

{% block js %}
  <link href="{{request.static_url('snmweb:static/css/force-chart.css')}}"
      rel="stylesheet">
  <style>
    #chart {
      height: 600px;
    }
  </style>
  <script src="{{request.static_url('snmweb:static/js/lib/d3.js')}}"></script>
  <script src="{{request.static_url('snmweb:static/js/force-chart.js')}}"></script>
  <script>
    var force_chart = vizForceChart($("#chart"),{
      linkDistance: 100,
      charge: -300,
      clickable: false
    });
    force_chart.start();
  </script>
{% endblock %}


{% block content %}

  <div class="col-md-8">
    <div id="chart">
      <svg></svg>
    </div>
  </div>
  <div class="col-md-4">
    <h1>Scientific Software Network Map</h1>
    <h3>R package data</h3>
    <p>
      The Scientific Software Network Map allows
      interactive exploration of data showing which software
      tools have been used, how use is trending, what applications
      are used together to produce a result, and the publications
      that resulted from that use.
    </p><p>
      Use the menu on the left to browse a sortable list of applications,
      compare usage patterns and trends of chosen applications, find out
      about funding and personnel for this project, and read a
      description of the data source for this demonstration.
    </p><p>
      In the graph shown here, each node represents a single application;
      connections between them indicate that they were used together.
      Line width reflects number of co-occurrences.
      Node size represents the number of publications associated with projects
      that used the application.
    </p>

      (<a href="http://sci-net-map.isri.cmu.edu:7777">If you are looking for the
      TACC supercomputer data, click here</a>)
  </div>

{% endblock %}
