{% extends "base.jinja2" %}
{% block title %}Scientific Network Map{% endblock %}

{% block head %}
  {{ super() }}
  {#You can include your specific css here#}
{% endblock %}

{% block js %}
    <style>
  /*TODO: move to a separate css file*/
    .node {
      stroke: #fff;
      stroke-width: 1.5px;
    }

    .link {
      fill: none;
      stroke: #bbb;
    }

    #chart {
      height: 600px;
    }

  </style>
  <script src="{{request.static_url('snmweb:static/js/lib/d3.js')}}"></script>
  <script src="{{request.static_url('snmweb:static/js/force-chart.js')}}"></script>
  <script>
      var force_chart = vizForceChart($("#chart"),{
        linkDistance: 100,
        charge: -300,
        clickable: false
      });
      force_chart.start();
  </script>
{% endblock %}


{% block content %}

  <div class="col-md-8">
    <div id="chart">
      <svg></svg>
    </div>
  </div>
  <div class="col-md-4">
    <h1>Scientific Network Map</h1>
    <p>
      Have you ever tried to understand the interdependencies of different
      applications: what applications work together, how often do they interact,
      what are the typical usage patterns?
    </p>
    <p>
      You can answer these and much more questions using Scientific Network Map!
      Each node represents a single application, connections between them indicate
      that they were used together. The size of an application indicates the
      number of runs.
    </p>
    <p>The diagram is interactive!</p>
    <h2>Play with the data!</h2>
  </div>

{% endblock %}
