{% extends "base.jinja2" %}
{% block title %}Scientific Network Map{% endblock %}

{% block head %}
  {{ super() }}
  {#You can include your specific css here#}
{% endblock %}

{% block js %}
  <link href="{{request.static_url('snmweb:static/css/force-chart.css')}}"
      rel="stylesheet">
  <style>
    #chart {
      height: 600px;
    }
  </style>
  <script src="{{request.static_url('snmweb:static/js/lib/d3.js')}}"></script>
  <script src="{{request.static_url('snmweb:static/js/force-chart.js')}}"></script>
  <script>
    var force_chart = vizForceChart($("#chart"),{
      linkDistance: 100,
      charge: -300,
      scimapID: "{{scimapID}}",
      clickable: false
    });
    force_chart.start();
  </script>
{% endblock %}


{% block content %}

  <div class="col-md-8">
    <div id="chart">
      <svg></svg>
    </div>
  </div>
  <div class="col-md-4">
    <h1>Scientific Software Network Map</h1>
    {% if sci_platform == "R" %}
    <h3>R package data</h3>
    {% elif sci_platform == "TACC" %}
    <h3>TACC usage data</h3>
    {% else %}
    <h3>{{ sci_platform }} data</h3>
    {% endif %}
    <p>
      The Scientific Software Network Map allows
      interactive exploration of data showing which software
      tools have been used, how use is trending, what packages
      are used together to produce a result, and the publications
      that resulted from that use.
    </p><p>
      Use the menu on the left to browse a sortable list of packages,
      compare usage patterns and trends of chosen packages, find out
      about funding and personnel for this project, and read a
      description of the data source for this demonstration.
    </p><p>
      {% if scimapID == "" %}
      <img src="/static/img/Legend.png">
      {% else%}
      <img src="/static/img/LegendScimapID.png">
      {% endif %}
    </p>

     {%if sci_platform=="R" %}
      You can participate by <a href="/static/html/installR.html">contributing your own R usage data!</a>
      <p>&nbsp;<p>
      (<a href="http://scisoft-net-map.isri.cmu.edu:7777">If you are looking for the
      TACC supercomputer data, click here</a>)
      
     {% endif %}
  </div>

{% endblock %}
