{% extends "base.jinja2" %}
{% block title %}Browse applications{% endblock %}
{% block content_title  %}<h1>Your Own Usage</h1>{% endblock %}

{% block head %}
  {{ super() }}
  <link href="{{request.static_url('snmweb:static/css/browse.css')}}" rel="stylesheet">
{% endblock %}

{% block js %}
  {{ super() }}
  <script>
    var scimapID = SNM.getParameterByName("scimapID");
    $("#scimapID-input").val("{{scimapID}}");
  </script>
{% endblock %}

{% block content %}
    <form class="form-group">
      Type "getScimapId()" in your R session, and paste the number it returns here:
      <div id="scimapID" class="input-group" style="float: right">
        <input id="scimapID-input" name="scimapID" type="text" class="form-control">
        <span class="input-group-btn">
          <input class="btn btn-default" type="submit" style="margin-left: -5px">scimapID</button>
        </span>
      </div>
    </form>

    <div style="clear: both"></div>

    <div class="panel panel-default">
      {% if entries %}
      <div class="panel-heading">
        <h3>Your Sessions</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
            <tr><th>Date</th><th>Duration</th><th>Hardware</th><td>Packages</td><td><span title="Call addUserMetadata() within your R scripts or command line sessions to add tagging information in this column">User Metadata</span></td></tr>
          {% for entry in entries %}
            <tr>
              <td> {{entry.startEpoch|epoch2readable}} </td>
              <td> {{entry|duration}} </td>
              <td> {% for key in entry.platform %} <b> {{key}}:</b> {{entry.platform[key]}}{% endfor %}  </td>
              <td> {% for k in entry.pkgT.keys() %} {{ k|replace("[dot]",".")  }} {% endfor %} </td>
              <td>{{ entry.userMetadata }} </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% else %}
        <h2>See your own contributed data!</h2>
	If you have <a href="http://scisoft-net-map.isri.cmu.edu/static/html/installR.html">the scimapClient package</a>
        installed in R, your data are <em>already</em> included in this site's statistics.
        <p>
        If you want to see a list of your own past R sessions, fire up R, call getScimapId(), and paste the number
        it returns into the blank above.
      {% endif %}
    </div>
  </div>

{% endblock %}
