{% extends "base.jinja2" %}
{% block title %}Most used applications{% endblock %}
{% block content_title  %}<h1>Most used applications</h1>{% endblock %}

{% block head %}
  {{ super() }}
  {#You can include your specific css here#}
{% endblock %}

{% block js %}
  {#  You can add page-specific js here #}
{% endblock %}


{% block content %}

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Options</div>
      <div class="panel-body">
        Data source:<br />
        <button type="button" style="width: 100%" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Application <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Application</a></li>
        </ul>
        <br /><br />
        Property:<br />
        <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
          Usage <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Usage</a></li>
          <li><a href="#">Average run-time</a></li>
          <li><a href="#">Some other property?</a></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default viz-list-panel">
      <div class="panel-heading">Choose visualization</div>
      <div class="panel-body">
        <div class="row inset">
          <a href="#" class="thumbnail viz-option active">
            <img src="{{request.static_url('snmweb:static/img/sample-line-chart.png')}}" alt="...">
          </a>
          <a href="#" class="thumbnail">
            <img src="{{request.static_url('snmweb:static/img/sample-pie-chart.png')}}" alt="...">
          </a>
          <a href="#" class="thumbnail">
            <img src="{{request.static_url('snmweb:static/img/sample-bar-chart.png')}}" alt="...">
          </a>
          <a href="#" class="thumbnail">
            <img src="{{request.static_url('snmweb:static/img/sample-table-chart.png')}}" alt="...">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <img src="{{request.static_url('snmweb:static/img/dsm.png')}}" />
  </div>

{% endblock %}
